<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.software.companion_device_setup" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="net.osmand" />
        <package android:name="net.osmand.plus" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OsmAndDisplay"
        tools:targetApi="31">

        <service
            android:name=".features.broadcasting.logic.DirectionsBroadcastingService"
            android:exported="false" />
        <service
            android:name=".features.map.logic.MapBroadcastingService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name=".features.main.view.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.track.view.ImportTrackActivity"
            android:exported="false"
            android:label="@string/import_track" />
        <activity
            android:name=".features.track.brouter.view.BRouterUrlActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.Dialog">
            <intent-filter android:label="@string/import_track_from_brouter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="brouter.de"
                    android:pathPrefix="/brouter-web"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.krishna.debug_tools.activity.ActivityDebugTools"
            android:exported="false"
            tools:replace="android:theme"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

    </application>

</manifest>